# Treat .yy files as GameMaker Language files (to correct statistics about the repository's contents)
*.yy linguist-language=Game Maker Language

# Auto detect text files and perform LF normalization
* text=auto
